* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Vista Splash */

/* Estilos para el elemento body */

.vh100 {
  height: 100vh;
}

.background {
  background: radial-gradient(rgb(248, 248, 248), rgb(149, 245, 85), rgb(64, 240, 64));
}

.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-welcome{
  font-size: 4em;
  color: white;
}

.margin-top-zero {
  margin-top: 0;
}
/*-------------------Styles login------------*/
.containers-form{
background-color : rgb(113, 241, 113);
padding: 0.5em;
margin-top: 3%;
}
.background-login{
background-image: url('../assets/img/background.jpg');
width: 100%;
height: 100vh;

background-repeat: no-repeat;
background-size: cover;

}

.button-login{
background: #96F662;
border: none;
letter-spacing: 0.1em;
font-size: 1.5em;
color: white;
margin-top: 3em;

}
.button-login:hover{
color: rgb(230, 79, 79);
background: #efdfa0;
}

.backgroundImg{
background-color: #96F662;
/* Vista Principal */

}


.wood-background {
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos al contenedor del logo y a este mismo*/

.navbar-default {
  background-color: #ceaa89;
  border-color: #ceaa89;
  margin-bottom: 2em;
}

.flex-container {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-container {
  width: 30%;
  display: inline-block;
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-brand img {
  cursor: pointer;
  width: 3em;
}

.search-input {
  display: inline-block;
  width: 35%;
  margin-left: 1em;
  margin-right: 1em;
}

.social-media-name {
  display: inline-block;
  font-size: 1.5em;
  color: #9eca88;
  font-weight: 700;
  line-height: 50px;
  text-decoration: none;
}

.social-media-name a {
  color: #9ed694;
  text-decoration: none;
}

.social-media-name a:hover {
  color: #9eeb88;
}

.social-media-list {
  display: inline-block;
  line-height: 50px;
  margin-bottom: 0;
  width: 30%;
}

.social-media-list li {
  display: inline-block;
  margin-right: 0.8em;
}

.social-media-list a {
  color: #9ed694;
  display: inline-block;
  list-style: none;
  width: 100%;
}

.social-media-list a:hover {
  color: #9eeb88;
  text-decoration: none;
  font-weight: 700;
}

.container-confirm-button {
  margin-top: 0.4em;
}

.orange-icon {
  color: #faa505;
}

.little-image {
  display: inline-block;
  width: 3em;
  margin-right: 1em;
}

.dropdown-menu {
  height: 200px;
}

/* Secciones */

/* Estilos a las columnas */

.padding-zero {
 padding-right: 0;
 padding-left: 0;
}

/* Estilos a la sección */

.section-container {
padding-left: 0;
}

.last-section-container {
padding-right: 0;
padding-left: 15px;
}


.download-button, .publish-button {
margin-bottom: 0.8em;
}


/* Estilos al panel */

.panel-default {
border-color: #efdfa0;
}

.panel-default .panel-cream {
word-wrap: break-word;
background-color: #efdfa0;
border-color: #efdfa0;
}

.panel-body .paragraph {
border-bottom: 1px solid black;
line-height: 40px;
width: 100%; 
margin-left: 0; 
}

.panel-body .paragraph a {
color: #a7601a;
font-size: 1.1em;
display: block;
text-decoration: none;
}

.panel-body .paragraph a:hover {
color: #c0601a;
font-weight: 700;
} 
/* Segunda sección */

.user-post-area {
background-color: white;
overflow: auto;
padding: 0.7em;
margin-top: 20px;
border-radius: 6px;
}

.text-area {
margin-top: 1em;
}

.download-button {
margin-bottom: 0.8em;
}

.divText {
background-color: #FFF;
border-radius: 6px;
width: 100%;
height: 90px;
color: #000;
font-size: 1.5em;
margin: 30px auto;
padding: 15px 15px 0;
word-wrap: break-word;
}

/* Tercera sección */

.main-view-third-section {
background-color: #efdfa0;
border-color: #efdfa0;
padding: 1em 0.5em 1em;
}

/* Cajas contenidas */

.little-box {
width: 88%;
}

.food-image {
padding-top: 1em;
margin-bottom:1em;
}

.little-paragraph {
background-color: #b7da99;
word-wrap: break-word;
padding: 1em;
text-align: justify;
width: 100%;
margin-left: 0;
}

.pizza-ad-paragraph {
margin-bottom: 1em;
word-wrap: break-word;
}

.pizza-link {
cursor: pointer;
}

/*Style perfil.html*/

/*Profile, parte superior*/
.panel-body{
background-color: #efdfa0;
}
.profile-cover {
width: 100%;
}

h5, .card-title {
text-align: center;
}
.name{
color: #a7601a;
}
.profile-cover .cover {
position: relative;
border: 10px solid #FFF;
}

.profile-cover .cover .inner-cover {
overflow: hidden;
height: auto;
}

.profile-cover .cover .inner-cover img {
border: 1px solid transparent;
text-align: center;
width: 100%;
}

.profile-cover .cover .inner-cover .cover-menu-mobile {
position: absolute;
top: 10px;
right: 10px;
}

.profile-cover .cover .inner-cover .cover-menu-mobile button i {
font-size: 17px;
}

.profile-cover .cover ul.cover-menu {
padding-left: 150px;
position: absolute;
overflow: hidden;
left: 1px;
float: left;
bottom: 0px;
width: 100%;
margin: 0px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}

.profile-cover .cover ul.cover-menu li {
display: block;
float: left;
margin-right: 0px;
padding: 0px 10px;
line-height: 40px;
height: 40px;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.profile-cover .cover ul.cover-menu li:hover {
background-color: rgba(0, 0, 0, 0.44);
}

.profile-cover .cover ul.cover-menu li.active {
background-color: rgba(0, 0, 0, 0.64);
}

.profile-cover .cover ul.cover-menu li a {
color: #FFF;
font-weight: bold;
display: block;
height: 40px;
line-height: 40px;
text-decoration: none;
}


/*Zona central (paneles y comentarios)*/
/*Boton postear*/
#npost {
background-color: rgb(113, 241, 113);
border-bottom: none;
margin-top: 0.5em;
}

#btn-purple {
background-color: rgb(113, 241, 113);
}

#panel-lila {
background-color: white;
}

.profile-cover .cover ul.cover-menu li a i {
font-size: 18px;
}

.profile-cover .profile-body {
margin: 0px auto 10px;
position: relative;
}

.profile-cover .profile-timeline {
padding: 15px;
}

.img-post {
width: 30px;
height: 30px;
}

.img-post2 {
width: 50px;
height: 50px;
}


/*Zona lateral (Paneles y botones)*/

.one {
margin-top: 3em;
}

.card-img-top {
width: 13em;
height: 8em;
margin-top: 4em;
}

.fotoname {
width: 10em;
height: 3em;
display: inline-block;
}

.fotoname img {
width: 2.5em;
height: 2.5em;
border-radius: 5em;
margin-top: 2em;
margin-left: 30em;
}

#cont {
border-radius: 0.4em;
width: 51em;
margin: 0 auto;
color: #4E4D53;
text-align: left;
margin-bottom: 6em;
margin-top: 0.5em;
}

#cont span {
margin-left: 1em;
}

#cont div {
padding: 1em 0.5em;
margin-bottom: 2em;
outline: 0.1em solid #E5E3F2;
background-color: #FFF;
}


/*Posts en profile*/

.heart,
.trash {
margin: 1em;
float: right;
cursor: pointer;
}

.trash:hover {
color: #1DA1F2;
cursor: pointer;
}

.strike-out {
text-decoration: line-through;
color: #1DA1F2;
}


p {
display: inline-block;
margin-left: 0.5em;
}


/*Seccion temas*/

#btn-agregar {
margin-bottom: 3em;
}


/*Seccion amigos*/

body {
margin-top: 20px;
}

.profile_view {
margin-bottom: 20px;
display: inline-block;
width: 100%;
-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.profile_view:hover {
-webkit-box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.well.profile_view {
padding: 10px 0 0;
}

.well.profile_view .divider {
border-top: 1px solid #e5e5e5;
padding-top: 5px;
margin-top: 5px;
}

.well.profile_view .ratings {
margin-bottom: 0;
}

.btn-success {
  color: #fff;
  background-color: #9ed694;
  
}
.pagination.pagination-split li {
display: inline-block;
margin-right: 3px;
}


.well.profile_view {
background: #fff;
}

.well.profile_view .bottom {
margin-top: -20px;
background: #F2F5F7;
padding: 9px 0;
border-top: 1px solid #E6E9ED;
}

.well.profile_view .left {
margin-top: 20px;
}

.well.profile_view .left p {
margin-bottom: 3px;
}

.well.profile_view .right {
margin-top: 0px;
padding: 10px;
}

.well.profile_view .img-circle {
border: 1px solid #E6E9ED;
padding: 2px;
}

.well.profile_view h2 {
margin: 5px 0;
font-size: 14px;
font-weight: bold;
}

.well.profile_view .ratings {
text-align: left;
font-size: 16px;
}

.well.profile_view .brief {
margin: 0;
font-weight: 300;
}

.profile_left {
background: white;
}

#btn-ver {
background-color: #9F81F7;
}

#btn-chat {
background-color: #FA58F4;
}

#letras a {
background-color: rgb(230, 223, 236);
}

#img-seguir {
width: 5em;
height: 5em;
}


img:hover {
opacity: 0.5
}
.h4{
color: #a7601a;
}
.text-muted{
color: black;
}

.img-seg{
width: 10em;
height: 10em;
} 

.btn-seguir{
width: 6em;
color: white;
background-color: #ceaa89;
} 


@media (min-width: 768px) {

.brand-container {
font-size: 1.4em;
}

.social-media-list {
font-size: 1.3em;
}

.panel-body .paragraph {
font-size: 1.3em;
line-height: 60px;
}

.download-button, .publish-button {
  font-size: 1.2em;
}

.text-area {
  font-size: 1.3em;
}

.main-view-third-section {
  padding: 1em 0.5em 2.5em;
}

.little-paragraph {
  font-size: 1.2em;
}

}