* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Clases para el elemento body */

  .vh100 {
    height: 100vh;
  }

  .background {
    background-color: skyblue;
  }

  .flex-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
