* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

<<<<<<< HEAD


  
  /* Clases para el elemento body */
=======
  /* Vista Splash */

  /* Estilos para el elemento body */
>>>>>>> 19432c9f321e071bb9a08aec8a5d4bd6032b92b1

  .vh100 {
    height: 100vh;
  }

  .background {
    background-color: skyblue;
  }

  .flex-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

<<<<<<< HEAD
  /*-------------------Styles login------------*/
.containers-form{
  background-color : #D3FAB8;
  padding: 0.5em;
  margin-top: 3%;
}

.button-login{
  background: #96F662;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: white;
 
}
.buttons a:hover{
  color: #C8E64F;
}
.logo-desktop, .form-desktop{
  margin-top: 8em;
}
/* Styles perfil.html */
.backgroundImg{
  background-color: #96F662;
=======
  /* Vista Principal */

  .flex-container {
    display: flex;
    align-items: center;
  }

  .wood-background {
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Estilos al contenedor del logo y a este mismo*/

  .navbar-default {
    background-color: #88d54c;
    border-color: #88d54c;
    margin-bottom: 0;
  }

  .brand-container {
    width: 42%;
    display: inline-block;
  }

  .navbar-brand {
    padding: 0px 15px;
  }

  .navbar-brand img {
    cursor: pointer;
    width: 3em;
  }

  .search-input {
    display: inline-block;
    width: 35%;
    margin-left: 1em;
    margin-right: 1em;
  }

  .social-media-name {
    display: inline-block;
    font-size: 1.5em;
    color: red;
    font-weight: 700;
    line-height: 50px;
  }

  .social-media-list {
    display: inline-block;
    line-height: 50px;
    margin-bottom: 0;
    width: 35%;
  }

  .social-media-list li {
    display: inline-block;
    margin-right: 0.8em;
  }

  .social-media-list a {
    color: red;
    display: inline-block;
    list-style: none;
    width: 30%;
  }

  .hamburguer-menu {
    width: 20%;
  }

 /* Secciones */

/* Estilos a las columnas */

 .padding-zero {
   padding-right: 0;
   padding-left: 0;
 }

/* Estilos a la sección */

.flex-container-section {
  /* height: 83vh; */
}

.section-container {
  padding-left: 0;
}

.last-section-container {
  padding-right: 0;
  padding-left: 15px;
}


/* Estilos al panel */

.panel-default {
  border-color: #f16c25;
}

.panel-body {
  word-wrap: break-word;
  background-color: #f16c25;
  border-color: #f16c25;
}

.panel-body .paragraph {
  border-bottom: 1px solid black;
  line-height: 60px;
  line-height: 40px;
}

.panel-body .paragraph a {
  color: #88d54c;
  font-size: 1.1em;
}

/* Segunda sección */

.user-post-area {
  background-color: white;
  overflow: auto;
  padding: 0.7em;
}

.text-area {
  margin-top: 1em;
}

.download-button {
  margin-bottom: 0.8em;
}

/* Tercera sección */

.main-view-third-section {
  background-color: #f16c25;
  border-color: #f16c25;
  padding: 1em 0.5em 2.5em;
}

/* Cajas contenidas */

.little-box {
  width: 88%;
}

.food-image {
  padding-top: 1em;
  margin-bottom:1em;
}

.little-paragraph {
  background-color: #fadd05;
  word-wrap: break-word;
}

.pizza-ad-paragraph {
  margin-bottom: 1em;
  word-wrap: break-word;
}

.pizza-link {
  cursor: pointer;
>>>>>>> 19432c9f321e071bb9a08aec8a5d4bd6032b92b1
}
