* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



  
  /* Clases para el elemento body */

  .vh100 {
    height: 100vh;
  }

  .background {
    background-color: skyblue;
  }

  .flex-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*-------------------Styles login------------*/
.containers-form{
  background-color : #D3FAB8;
  padding: 0.5em;
  margin-top: 3%;
}

.button-login{
  background: #96F662;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: white;
 
}
.buttons a:hover{
  color: #C8E64F;
}
.logo-desktop, .form-desktop{
  margin-top: 8em;
}
/* Styles perfil.html */
.portada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  
}

