<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
	<!--Css-->
	<link rel="stylesheet" href="../css/chat.css">
	<title>Misky Perú</title>
</head>
<!-- Contenido de la página -->
<body class="vh100 wood-background">
  <!-- Chat -->
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <ul class="dropdown-menu slidedown">
                <li><a href="chat.html"><span class="glyphicon glyphicon-refresh"></span>Refresh</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-ok-sign"></span>Available</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-remove"></span>Busy</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-time"></span>Away</a></li>
                <li class="divider"></li>
                <li><a href="login.html"><span class="glyphicon glyphicon-off"></span>Sign Out</a></li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <ul class="chat">
              <li class="left clearfix">
                <span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Gabriela Rodriguez</strong> <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                    </div>
                    <p>Hola, ¿Como estas?, ¿la semana pasada fuiste a Rodizzio a comer?.</p>
                  </div>
                </li>
                <li class="right clearfix">
                  <span class="chat-img pull-right"><img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" /></span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                      <strong class="pull-right primary-font">Luis Alberto</strong>
                    </div>
                  <p>Si por que, ¿Qué paso?, hay alguna promoción</p>
                </div>
              </li>
              <li class="left clearfix"><span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Gabriela Rodriguez</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                  </div>
                  <p>Si, el jueves habrá 2x1</p>
                </div>
              </li>
              <li class="right clearfix"><span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                  <strong class="pull-right primary-font">Luis Alberto</strong>
                </div>
                <p>A que genial, te parece si vamos a comer</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box-message">
  <input type="button" value="Iniciar Conversación">
  <input type="text" id="chat-user-message">
  <input type="button" value="Enviar Mensaje">
</div>
<!-- Import jQuery-->
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA9gRL5pF8NpON8KuMlS8Pd_dXP_UXI2Kc",
    authDomain: "misky-peru-5e127.firebaseapp.com",
    databaseURL: "https://misky-peru-5e127.firebaseio.com",
    projectId: "misky-peru-5e127",
    storageBucket: "misky-peru-5e127.appspot.com",
    messagingSenderId: "895715418066"
  };
  firebase.initializeApp(config);
</script>
<!-- bootstrap -->
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/chat.js"></script>
</body>
</html>
