<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- tab icon -->
  <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--Css-->
  <link rel="stylesheet" href="../css/main.css">
  <title>Misky Perú</title>
</head>
<!-- Login -->

<body class="background-login">
  <section>
    <div class="container-fluid">
      <div class="row">
        <!-- mobile -->
        <div class="col-xs-12 visible-xs">
          <img src="../assets/img/logo.png" alt="logo" class="img-responsive logo-misky">
        </div>
        <!--desktop -->
        <div class="col-xs-4 col-xs-offset-4 hidden-xs logo-desktop" align="center">
          <img src="../assets/img/logo.png" alt="logo" class="img-responsive logo-misky">
        </div>
      </div>
    </div>
  </section>
  <!--Ingresar y registar-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <!--mobile-->
        <div class="col-xs-12" align="center">
          <!-- Login -->
          <a href="../views/main-view.html" type="button" class="btn btn-default button-login down" id="btn-login">Inicia sesión con Gmail</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- Import jQuery-->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- bootstrap -->
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/login.js"></script>

</body>

</html>