<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
	<!--Css-->
	<link rel="stylesheet" href="../css/main.css">
	<title>Misky Perú</title>
</head>
<!-- Contenido de la página -->
<body class="vh100 wood-background">
	<!-- Barra de Navegación -->
	<nav class="navbar navbar-default">
		<div class="container-fluid flex-container">
      <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header brand-container">
				<a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt="Logo de Misky Perú" class="img-responsive"></a>
				<div class="social-media-name">Misky Perú</div>
			</div>
			<!-- Form -->
			<div class="search-input">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div><!-- /input-group -->
			</div>

			<ul class="social-media-list pull-right text-center">
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Perfil</a></li>
				<li><a href="#"><i class="fa fa-users fa-lg" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-bell fa-lg" aria-hidden="true"></i></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Sobre nosotros</a></li>
						<li><a href="#">Configuración</a></li>
						<li><a href="#">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>

	<div class="">
		<div class="container-fluid">
			<div class="row">
				<!-- Sección 1-->
				<div class="col-xs-4 padding-zero">
				<<section class="column clearfix">
					<!-- <div class="btn-group">
						<button class="btn btn-default btn-lg dropdown-toggle" type="button" id="firstDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="firstDropdownMenu">
							<li><a href="#">Noticias</a></li>
							<li><a href="#">Tus reseñas</a></li>
							<li><a href="#">Amigos/Seguidores</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div> -->
					<!-- <ul class="sidebar-1">
						<li><a href="#">Noticias</a></li>
						<li><a href="#">Tus reseñas</a></li>
						<li><a href="#">Amigos/Seguidores</a></li>
						<li><a href="#">Crea tu grupo</a></li>
						<li><a href="#">Contáctanos</a></li>
					</ul> -->
					<div class="panel panel-default">
						<div class="panel-body text-center">
							<p class="paragraph"><a href="#">Noticias</a></p>
							<p class="paragraph"><a href="#">Tus reseñas</a></p>
							<p class="paragraph"><a href="#">Amigos/Seguidores</a></p>
							<p class="paragraph"><a href="#">Crea tu grupo</a></p>
							<p class="paragraph"><a href="#">Contáctanos</a></p>
						</div>
					</div>
				</section>
			</div>
				<!-- Sección 2 -->
				<div class="col-xs-4">
				<section class="column clearfix">
						<h2>Meow</h2>
				</section>
			</div>
				<!-- Sección 3 -->
				<div class="col-xs-4 padding-zero">
				<section class="column clearfix">

								<h2>Tengo sueño</h2>

				</section>
			</div>
		</div>
	</div>
<!-- Import jQuery-->
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/main-view.js"></script>
</body>
</html>
