<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- tab icon -->
  <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <!--Css-->
  <link rel="stylesheet" href="../css/main.css">
  <title>Misky Perú</title>
</head>
<!-- Login -->

<body>
  <!-- Header -->
  <header>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-default">
      <div class="container-fluid flex-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header brand-container">
          <a class="navbar-brand" href="#">
            <img src="../assets/img/logo.png" alt="Logo de Misky Perú" class="img-responsive">
          </a>
          <div class="social-media-name">Misky Perú</div>
        </div>
        <!-- Form -->
        <div class="search-input">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>

        <ul class="social-media-list pull-right text-center">
          <li>
            <a href="#">Inicio</a>
          </li>
          <li>
            <a href="../views/perfil.html">Perfil</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="#">Sobre nosotros</a>
              </li>
              <li>
                <a href="#">Configuración</a>
              </li>
              <li>
                <a href="#">Salir</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <!--Primer panel -->
          <div class="panel rounded shadow">
            <div class="panel-body">

              <ul class="list-unstyled">
                <li class="text-center">
                  <img data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="../assets/img/usuario.jpg" alt="John Doe">
                </li>
                <li class="text-center">
                  <h4 class="text-capitalize name">Layra Mendez</h4>
                  <p class="text-muted text-capitalize">Amante de la comida rica</p>
                </li>
                <li>
                  <p>
                    <strong>Presentación</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem suscipit
                    ad, incidunt, natus quisquam ullam blanditiis neque dicta ducimus dolore facilis dolor magni. Quis in
                    aperiam quos id voluptatum.</p>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8">

          <div class="profile-cover">
            <div class="cover rounded shadow no-overflow">
              <div class="inner-cover">
                <!-- Mobile- menú hamburguesa-->
                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                  <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                  </button>
                  <ul class="dropdown-menu pull-right no-border" role="menu">
                    <li class="active">
                      <a id="theme-1" href="#">
                        <i class="fa fa-fw fa-clock-o"></i>
                        <span>Mis Restaurantes</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-fw fa-user"></i>
                        <span>Platos preferidos</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-fw fa-photo"></i>
                        <span> Mis Fotos</span>
                        <small>(38)</small>
                      </a>
                    </li>
                    <li>
                      <a id="friends-1" href="#">
                        <i class="fa fa-fw fa-users"></i>
                        <span> Amigos </span>
                        <small>(19)</small>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span>Mensajes</span>
                        <small>(7 nuevos)</small>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- imagen portada -->
                <img src="http://noticias.universia.net.mx/net/images/cultura/m/me/mej/mejor-comida-del-mundo.jpg" class="img-responsive full-width"
                  alt="cover" style="max-height:200px;">
              </div>
              <!-- desktop -->
              <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                <li id="theme-2" class="active">
                  <a href="#">
                    <i class="fa fa-fw fa-clock-o"></i>
                    <span>Mis Restaurantes</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-fw fa-user"></i>
                    <span>Plato Preferidos</span>
                  </a>
                </li>
                <li id="fotos">
                  <a href="#">
                    <i class="fa fa-fw fa-photo"></i>
                    <span>Mis fotos</span>
                    <small>(38)</small>
                  </a>
                </li>
                <li>
                  <a id="friends-2" href="#">
                    <i class="fa fa-fw fa-users"></i>
                    <span> Amigos </span>
                    <small>(19)</small>
                  </a>
                </li>

              </ul>
            </div>

          </div>
          <!-- Postear -->

          <div class="panel rounded shadow">
            <textarea class="txt form-control input-lg no-border" id="comment" placeholder="Que estas haciendo?..."></textarea>
            <button type="button" id="npost" class="btn btn-success pull-right mt-5">Postear</button>
            <ul class="nav nav-pills">
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-map-marker"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-camera"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-smile-o"></i>
                </a>
              </li>
            </ul>
            <!-- contenedor comentarios -->
            <div id="cont"></div>
          </div>

          <!--Imagenes posteadas y comentarios -->
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-success rounded shadow">
                  <div id="panel-lila" class="panel-heading no-border">
                    <div class="pull-left half">
                      <div class="media">
                        <div class="media-object pull-left">
                          <img src="../assets/img/usuario.jpg" alt="..." class="img-circle img-post">
                        </div>
                        <div class="media-body">
                          <a href="#" class="media-heading block mb-0 h4 text-white">Layra Mendez</a>
                          <span class="text-white h6"> 02 de Enero , 2018</span>
                        </div>
                      </div>
                    </div>
                    <!-- Para me gusta -->
                    <div class="pull-right">
                      <a href="#" class="text-white h4">
                        <i class="fa fa-heart"></i> 100</a>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <!-- alguna imagen posteada-->
                  <div class="panel-body no-padding">
                    <img src="../assets/img/costillitas.jpg" alt="..." class="img-responsive full-width">
                    <div class="inner-all block">

                      <a href="#">7 comentarios</a>
                    </div>

                    <div class="line no-margin"></div>

                    <div class="media inner-all no-margin">
                      <!--Imagen de perfil-primer cometario-->
                      <div class="pull-left">
                        <img src="../assets/img/user3.jpg" alt="..." class="img-post2">
                      </div>
                      <!-- Informacion del comentario -->
                      <div class="media-body">
                        <a href="#" class="h4">Tatiana Ramirez</a>
                        <medium class="block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </medium>
                        <em class="text-xs text-muted">Comentado el
                          <span class="text-danger">04 de Enero, 2018</span>
                        </em>
                      </div>

                    </div>

                    <div class="line no-margin"></div>
                    <img src="../assets/img/chillis.png" alt="..." class="img-responsive full-width">
                    <div class="inner-all block">

                      <a href="#">7 comentarios</a>
                    </div>

                    <div class="line no-margin"></div>

                    <div class="media inner-all no-margin">
                      <!--Segunda imagen de perfil-->
                      <div class="pull-left">
                        <img src="../assets/img/user4.jpg" alt="..." class="img-post2">
                      </div>
                      <!-- Información del segundo comentario -->
                      <div class="media-body">
                        <a href="#" class="h4">Celeste Dominguez</a>
                        <medium class="block text-muted">Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</medium>
                        <em class="text-xs text-muted">Comentado el
                          <span class="text-danger">03 de Enero,2018 </span>
                        </em>
                      </div>

                    </div>

                  </div>
                  <!-- Agregar comentario -->
                  <div class="panel-footer">
                    <form action="#" class="form-horizontal">
                      <div class="form-group has-feedback no-margin">
                        <input class="form-control" type="text" placeholder="Agregar comentario...">
                        <button type="submit" class="btn btn-theme fa fa-pencil form-control-feedback"></button>
                      </div>
                    </form>
                  </div>

                </div>
                <!-- Panel de la derecha -->
              </div>
              <div class="col-md-6">
                <div class="panel panel-success rounded shadow">
                  <div id="panel-lila" class="panel-heading no-border">
                    <div class="pull-left half">
                      <div class="media">
                        <div class="media-object pull-left">
                          <img src="../assets/img/usuario.jpg" alt="..." class="img-circle img-post">
                        </div>
                        <div class="media-body">
                          <a href="#" class="media-heading block mb-0 h4 text-white">Layra Mendez</a>
                          <span class="text-white h6">el 31 de Diciembre, 2017</span>
                        </div>
                      </div>
                    </div>

                    <div class="pull-right">
                      <a href="#" class="text-white h4">
                        <i class="fa fa-heart"></i> 180</a>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <!-- Agregar recomendaciones -->
                  <div class="panel-body no-padding">
                    <div class="inner-all block">
                      <h3>Agregado recomendaciones</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, iste omnis fugiat porro consequuntur ratione iure error
                        reprehenderit cum est ab similique magnam molestias aperiam voluptatibus quia aliquid! Sed, minima.
                      </p>
                      <blockquote class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!</blockquote>

                      <img src="../assets/img/palanchinke.jpg" alt="..." width="100">
                      <img src="../assets/img/sushi.png" alt="..." width="100">
                      <img src="../assets/img/mi barrunto.jpg" alt="..." width="100">
                      <img src="../assets/img/domoSaltado.png" alt="..." width="100">
                    </div>

                    <div id="box-purple" class="inner-all bg-success">

                      <a href="#">7 comentarios</a>
                    </div>
                  </div>
                  <!-- Comentarios de recomendaciones -->
                  <div class="panel-footer no-padding no-border">
                    <div class="media inner-all no-margin">
                      <div class="pull-left">
                        <img src="../assets/img/user5.jpg" alt="..." class="img-post2">
                      </div>
                      <!-- Primer comentario- recomendación -->
                      <div class="media-body">
                        <a href="#" class="h4">Sofía Zuñiga</a>
                        <small class="block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </small>
                        <em class="text-xs text-muted">Comentado el
                          <span class="text-danger"> 01 de Enero, 2018</span>
                        </em>
                      </div>

                    </div>

                    <div class="line no-margin"></div>
                    <!--Imagen usuario-->
                    <div class="media inner-all no-margin">
                      <div class="pull-left">
                        <img src="../assets/img/user6.jpg" alt="..." class="img-post2">
                      </div>
                      <!-- Segundo comentario-recomendación -->
                      <div class="media-body">
                        <a href="#" class="h4">Jorge Muñoz</a>
                        <small class="block text-muted">Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</small>
                        <em class="text-xs text-muted">Comentado el
                          <span class="text-danger">06 de Enero, 2018</span>
                        </em>
                      </div>

                    </div>

                    <div class="line no-margin"></div>

                    <form action="#" class="form-horizontal inner-all">
                      <div class="form-group has-feedback no-margin">
                        <input class="form-control" type="text" placeholder="Agregar comentario...">
                        <button type="submit" class="btn btn-theme fa fa-pencil form-control-feedback"></button>
                      </div>
                    </form>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Import jQuery-->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- bootstrap -->
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>

  <script src="../js/register.js"></script>

</body>

</html>