<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
	<!--font-->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!--Css-->
	<link rel="stylesheet" href="../css/main.css">
	<title>Misky Perú</title>
</head>
<!-- Login -->
<body>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-12 ">
                            <img src="../assets/img/imagen1.jpg" alt="portada" class="img-responsive portada">
                    </div>
                    <div>
                        <ul>
                            <li>Sobre mi</li>
                            <li>Mis platos preferidos</li>
                            <li>Seguir</li>
                            <li>inicio</li>
                        </ul>
                    </div>
                    <div class ="imagenes">

                    </div>
                </div>
            </div>
        </section>
        

        
        <!-- Import jQuery-->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <!-- bootstrap -->
        <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>

        <script src="../js/register.js"></script>
        
    </body>
</html>