<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
	 <!--font-->
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!--Css-->
	<link rel="stylesheet" href="../css/main.css">
	<title>Misky Perú</title>
</head>
<!-- Login -->
<body>
      <!-- Header -->
	<header>
			<!-- Barra de Navegación -->
		<nav class="navbar navbar-default">
			<div class="container-fluid flex-container">
	      <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header brand-container">
					<a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt="Logo de Misky Perú" class="img-responsive"></a>
					<div class="social-media-name">Misky Perú</div>
				</div>
				<!-- Form -->
				<div class="search-input">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div>

				<ul class="social-media-list pull-right text-center">
					<li><a href="#">Inicio</a></li>
					<li><a href="../views/perfil.html">Perfil</a></li>
					<li><a href="#"><i class="fa fa-users fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-bell fa-lg" aria-hidden="true"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Sobre nosotros</a></li>
							<li><a href="#">Configuración</a></li>
							<li><a href="#">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.container-fluid -->
		</nav>
	</header>
        <div class="perfilcontainer">
                <section id="profile">
                  <div class="container-fluid profile">
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4 backgroundImg" align="center">
                        
                          <img src="../assets/img/usuario.jpg" alt="" align="center" class="img-circle img-responsive">
                        
                      </div>
                    </div>
                    <!-- inicio descripcion perfil usuario -->
                      <div class="row description">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-2 col-xs-4 col-lg-offset-3 text-center">
                          <a href="#">24<br>Publicaciones</a>
                          </div>
                          <div class="col-lg-2 col-xs-4 text-center">
                            <a href="#">100<br>Seguidores</a>
                          </div>
                          <div class="col-lg-2 col-xs-4 text-center">
                            <a href="#">163<br>Seguidos</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 col-lg-offset-2">
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                          <p><strong>Laura</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus ut aperiam harum, earum ipsam perferendis animi labore, dolore provident sint, necessitatibus maxime quasi blanditiis repudiandae aliquid fugiat neque excepturi?</p>
                        </div>
                      </div>
                      <!-- fin descripcion -->
                      <div class="col-xs-12">
                        <hr>
                      </div>
                      <!-- inicio fotos publicadas -->
                      <div class="row publication">
                        <div class="col-xs-3">
                          <img src="../assets/img/usuario.jpg" alt="">
                        </div>
                        <div class="col-xs-3">
                          <img src="../assets/img/usuario.jpg" alt="">
                        </div>
                        <div class="col-xs-3 bottomImg">
                          <img src="../assets/img/usuario.jpg" alt="">
                        </div>
                        <div class="col-xs-3 bottomImg">
                          <img src="../assets/img/usuario.jpg" alt="">
                        </div>
                      </div>
                      <!-- fin fotos publicadas -->
                  </div>
                </section>
              </div>

        
        <!-- Import jQuery-->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <!-- bootstrap -->
        <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>

        <script src="../js/register.js"></script>
        
    </body>
</html>